*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.login{
    display: flex;
 
}
body{
    background-color: black;
}
.login_submit input{
    background-color: #fff;
    border-radius: 10px solid #333;
    margin-left: 30%;
}